<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>
                {{ todo_key.name }}
            </h1>
            <a href="{% url 'todo_list_delete' todo_key.id %}">Delete</a>
            <a href="{% url 'todo_list_update' todo_key.id %}">Edit</a>
            {% comment %} todo_key is the DETAILS VIEW page context dictionary id (how html can access your "class")  {% endcomment %}
            </h2>
                Tasks
            </h2>
            <table>
                <thead>
                    <tr>
                        <th> Tasks </th>
                        <th> Due Date </th>
                    </tr>
                </thead>
                <tbody>
                    {% for detail in todo_key.items.all %}
                    <tr>
                        <td>
                            <a href= "{% url 'todo_item_update' detail.id %}">{{ detail.task }}</a>
                        </td>
                        <td>
                            {{ detail.due_date }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
