<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>
                My Lists
            </h1>
            <a href= "{% url 'todo_list_create' %}">Create a new list</a>
            <a href= "{% url 'todo_item_create' %}">Create a new item</a>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of Items</th>
                </tr>
            <tbody>
                {% for todos in todo_list %}
                <tr>
                    <td>
                    <a href="{% url 'todo_list_detail' todos.id %}">{{ todos.name }}</a>
                    </td>
                    <td> {{todos.items.all| length }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            </thead>
        </table>
        </div>
    </main>
</body>
</html>

{% comment %} how todo_list will display
{name: Reminders, date: 2:10pm}, {Finish python practice problem: 1:11} {% endcomment %}
